/*----- Specifics for the entire page -----*/
* {
	margin: 0;
}

html {
	background-color: #fff;
	background-image: url("boba.png");
	background-size: 220px;
	background-position: right bottom;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100%;
}

body {
	min-height: 100%;
	background-color: #F2F5F7;
	max-width: 800px;
	padding: 60px 30px 30px;
	border-left: 1px dashed #8AB3CF;
    border-right: 1px dashed #8AB3CF;
    margin: 0px auto;
    font-family: 'Crimson Text', serif;
    /*box-shadow: 12px 0 15px -4px rgba(163, 163, 163, 0.5), -12px 0 8px -4px rgba(163, 163, 163, 0.5);*/
}

b {
	color: #0C1C29;
}

.content {
	margin-right: 30px;
	margin-left: 30px;
	margin-top: 15px;
	text-align: justify;
}

/*----- navigation bar -----*/

#links {
	width: 100%;
	height: 30px;
	margin-top: 8px;
	list-style:none;
	font-family: 'Economica', sans-serif;
	text-align: center;
	border-bottom: 1px dashed #8AB3CF;
	border-top: 1px dashed #8AB3CF;
}

#links a {
	/*color: #E6E6E6;*/
	color: #424242;
	text-decoration: none;
	/*background-color: #4180AB;*/
	display: inline-block;
	padding: 6px;
	padding-left: 20px;
	padding-right: 20px;
	/*text-align: center;*/
	opacity: 0.7;
    filter: alpha(opacity=70);
    /*-webkit-transition: opacity .5s;*/
    -webkit-transition: padding-right .5s;
    -webkit-transition: padding-left .5s;
    /*-webkit-transition: color .5s;*/
}

#links a:hover {
	opacity: 0.95;
    filter: alpha(opacity=95);
    /*color: #B5EF86;*/
    color: #FF62A0;
    padding-right: 30px;
    padding-left: 30px;
    /*-webkit-transition: opacity .5s;*/
    -webkit-transition: padding-right .5s;
    -webkit-transition: padding-left .5s;
    /*-webkit-transition: color .5s;*/
    cursor: pointer;
}


#links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: incline-block;

}

#links li {
	display: inline;
	/*float: left;*/
	/*text-align: center;*/
}

/*----- headers -----*/
#head1 {
	/*padding-top: 10px;*/
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #424242;
	font-size: 30pt;
}
#code {
	/*padding-top: 10px;*/
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #424242;
	font-size: 30pt;
}

#header {
	/*background-color: #fff;*/
	padding-bottom: 10px;
	/*border-bottom: 1px dashed #8AB3CF;*/
}

/*----- Images -----*/

#info img {
	width: 250px;
	/*opacity: 0.80;
    filter: alpha(opacity=80);*/
	box-shadow: 2px 2px 5px #888888;
	float: left;
	margin-right: 20px;
	margin-bottom: 15px;
}

#GWC img {
	width: 500px;
	box-shadow: 2px 2px 5px #888888;
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	margin-bottom: 20px;
}

#about img {
	width: 215px;
	box-shadow: 2px 2px 5px #888888;
	float: left;
	margin-right: 20px;
	margin-bottom: 15px;
	margin-top: 10px;
}

/*----- Tabs -----*/
.tabs {
    width: 100%;
    display: inline-block;
}
 
/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after {
    display: block;
    clear: both;
    content: '';
}

.tab-links li {
    margin: 0px 5px;
    float: left;
    list-style: none;
}
 
.tab-links a {
    padding: 9px 15px;
    display: inline-block;
    border-radius: 3px 3px 0px 0px;
    background: #CCEAFF;
    font-size: 16px;
    color: #424242;
    transition: all linear 0.15s;
    text-decoration: none;
    font-family: 'Economica', sans-serif;
}

.tab-links a:hover {
    background: #DFF2FF;
    text-decoration: none;
    color: #FF62A0;
}
 
li.active a, li.active a:hover {
    background: #fff;
    color: #4c4c4c;
}
 
/*----- Content of Tabs -----*/
.tab-content {
    padding: 15px;
    border-radius: 10px;
    box-shadow: -1px 1px 1px rgba(0,0,0,0.15);
    background: #fff;
    padding-bottom: 35px;
}
 
.tab {
	display: none;
}
 
 .tab.active {
    display: block;
}

#map-canvas {
    width: 250px;
    height: 250px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: -1px 1px 1px rgba(0,0,0,0.15);
}
