<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
  		<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

		<title>{{ site.title }}</title>
		
		<link href='http://fonts.googleapis.com/css?family=Anonymous+Pro' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="/assets/style.css">
		 <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
		 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

	</head>
	<body>
		<header class="site-header-general">
			<a class="site-header-title" href="{{ site.baseurl }}">Nguyet Minh Duong</a>
			<br>
			<span class="site-header-tag">keep my boba in check</span>
			<nav class="site-nav">
				{% for page in site.pages %}
         			{% if page.title %}
          				<a href="{{ page.url | prepend: site.baseurl }}"> {{ page.title }}</a> 
          			{% endif %}
        		{% endfor %}
			</nav>
		</header>

		<div class="content">
		{% for post in site.posts limit:2 %}
			<a class="title-link" href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
			<p class="content-date">{{ post.date | date: "%d %B %Y"}}</p>
			
			<span class="content-text">
				<p class="content-text">{{ post.content | truncatehtml | truncatewords: 100 }} 
				<span style="float:right">
					<a href="{{ post.url }}"><i><br>read more</i></a></span>
				</p>
			</span>
		{% endfor %}
		</div>




	</body>
</html>