<footer class="site-footer">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="col-md-4 footer-intro">
				<span class="footer-title">{{ site.title }}</span>
				<p><a href="mailto:nguyetduong.minh@gmail.com">{{ site.email }}</a></p>

				<p>{ <a href="/about/">about me</a> } { <a href="">about blog</a> }</p>
			</div>
			<div class="col-md-4 footer-connect">
				<p><a href="https://github.com/nguyetduong" target="_blank"><img width="10%" src="/assets/media/connect/white/github.png"> nguyetduong</a></p>
        		<p><a href="https://www.linkedin.com/in/nguyetduong" target="_blank"><img width="10%" src="/assets/media/connect/white/linkedin.png"> nguyetduong</a></p>
        		<p><a href="https://twitter.com/sinnto" target="_blank"><img width="10%" src="/assets/media/connect/white/twitter.png"> sinnto</a></p>
			</div>
			<div class="col-md-4">
				<p>
					A wild bobaholic (and apparently Starbucks now too) on the loose, writing sarcastic, and thoughtful reflections about her life.
				</p>
				<p>
					<p class="rss-subscribe">follow me <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>
					<br>
					follow me <a href="http://www.bloglovin.com/blog/14329265/?claim=enzvzch53e2">via BlogLovin'</a>
				</p>
			</div>
		</div>
	</div>
</footer>